<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- servlets to implement.. keeping is simple, would normally use some type of dispatcher  -->
	
	<servlet>
		<servlet-name>TimeslotsServlet</servlet-name>
		<servlet-class>com.rokagram.peek.web.TimeslotsServlet</servlet-class>
	</servlet>
	<!-- should probably use the plural, "timeslots", for both -->
	<servlet-mapping>
		<servlet-name>TimeslotsServlet</servlet-name>
		<url-pattern>/api/timeslot</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TimeslotsServlet</servlet-name>
		<url-pattern>/api/timeslots</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BoatsServlet</servlet-name>
		<servlet-class>com.rokagram.peek.web.BoatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoatsServlet</servlet-name>
		<url-pattern>/api/boat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoatsServlet</servlet-name>
		<url-pattern>/api/boats</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AssignmentsServlet</servlet-name>
		<servlet-class>com.rokagram.peek.web.AssignmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AssignmentsServlet</servlet-name>
		<url-pattern>/api/assignment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignmentsServlet</servlet-name>
		<url-pattern>/api/assignments</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BookingsServlet</servlet-name>
		<servlet-class>com.rokagram.peek.web.BookingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookingsServlet</servlet-name>
		<url-pattern>/api/booking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookingsServlet</servlet-name>
		<url-pattern>/api/bookings</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WipeDatastoreServlet</servlet-name>
		<servlet-class>com.rokagram.peek.web.WipeDatastoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WipeDatastoreServlet</servlet-name>
		<url-pattern>/api/wipeit</url-pattern>
	</servlet-mapping>
	


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- filters -->
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>